#menuhorizontal {
    margin:0;
    padding:0;
    list-style-type:none;
}

#menuhorizontal a {
    width:100px;
    text-decoration:none;
    text-align:center;
    color:white;
    background-color:mediumblue;
    padding:3px 5px;
    border-right:1px solid blue;
    display:block;
}

#menuhorizontal li {
    float:left
}

#menuhorizontal a:hover {
    background-color:red;
}

h1{
    text-align: left;
}